{% extends 'base.html' %}

{% block content%}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" ><a href="//127.0.0.1:8000/barber">Barbers</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        {% if object %}
        {{object.name}}
        {% else %}    
        Create barber store
        {% endif %}
    </li>
    </ol>
</nav>

{% if object.id %}
    <h1>{{object.name}} {{object.surname}}</h1>
{% else %}
    <h1>Create Barber</h1>
{% endif %}
<br>
    <form method='POST'> {% csrf_token %}
    {{ form.as_p }}
    <input type = 'submit' value='Save'/>
    </form>
{% endblock content %}