{% extends 'base.html' %}
<script>
  var myModal = document.getElementById('myModal')
  var myInput = document.getElementById('myInput')

  myModal.addEventListener('shown.bs.modal', function () {
  myInput.focus()
  })
</script>

{% block content%}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" ><a href="//127.0.0.1:8000/person">Customers</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        {% if object %}
        {{object.name}} {{object.surname}} 
        {% else %}    
        Create barber store
        {% endif %}
    </li>
    </ol>
</nav>

<div class="row align-items-start">
  <div class="col">
    <h1>
      {% if object %}
        {{object.name}} {{object.surname}} 
        {% if object.is_active %} 
          <span class="badge bg-success">Active</span> 
        {% else %}
          <span class="badge bg-light text-dark">Inactive</span>
        {% endif %}
      {% else %}    
        Create customer
      {% endif %}
    </h1>
    <form method='POST'> {% csrf_token %}
    <br>
    {{form.as_p}}
    <input class="btn btn-primary mb-3" type = 'submit' value='Save'/>
  </div>
    {% if object.id %}
      <div class="col">
          <div class="col text-right">
              <br>
              <a href="./delete" class="link-danger">Delete</a>
          </div> 
        
    {% endif %}
    

</form>
</div>



{% endblock content %}