{% extends 'base.html' %}

{% block content %}
    {% if user %}
    <h1>Hello {{user}}! This is the contacts page</h1> 
    {% else %}
    <h1> Hello! This is the contacts page</h1>
    {% endif %}

    <ul>
    {% for my_item in my_list %}
        {% if my_item == 2%}
            <li> {{ forloop.counter }} - {{ my_item|add:1 }}</li>
        {% elif my_item == 3 %}
            <li> {{ forloop.counter }} - {{ my_item|add:-1 }}</li>
        {% else %}
            <li> {{ forloop.counter }} - {{ my_item }}</li>
        {% endif %}
    {% endfor %}
    </ul>

{% endblock content %}